<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Nowhere Station</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/jumbotron.css" rel="stylesheet">
  </head>

  <body>
   <div class="container-fluid" ng-app="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">NOWHERE STATION</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Nowhere Station</h1>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
       <div class="row">
				<div class="col-md-10" ng-controller="mainController">
					<h2>Departure Trains</h2>
					<table class="table table-striped">
						<tr>
							<th>Departure Time</th>
							<th>Destination</th>
							<th>Seats Available</th>
							<th></th>
						</tr>
						<tr ng-repeat="train in trains">
							<td>{{train.departureTime}}</td>
							<td>{{train.destination}}</td>
							<td>
								<span ng-hide="showBooking[$index]">{{train.seatsAvailable}}</span>
								<button type="button" ng-show="showBooking[$index]"  class="btn btn-info" ng-click="bookingWindow(train)">Window Seats <span class="badge badge-light">{{train.windowSeatAvailable}}</span></button>
								<button type="button" ng-show="showBooking[$index]"  class="btn btn-secondary" ng-click="bookingAisle(train)">Aisle Seats  <span class="badge badge-light">{{train.aisleSeatAvailable}}</span></button>
							</td>
 							<td>
 							    <span ng-hide="showBooking[$index]"><a class="btn btn-outline-primary" role="button" ng-click="showBookingOptions($index)">Booking &raquo;</a></span>
 								<span ng-show="showBooking[$index]"><a class="btn btn-outline-primary" role="button" ng-click="confirmBooking(train, $index)">Confirm</a></span>
 								<span ng-show="showBooking[$index]"><a class="btn btn-outline-primary" role="button" href="/nowhere" >Cancel</a></span>
 							</td>

						</tr>
					</table>
				</div>
			</div>
	    <hr>
      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Nowhere Station 2020-2021</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Include Angular.js and it's components-->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-resource.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
    </div>
  </body>
</html>
